<html>
  <head>
    <title>COVID Hospitalization and Mortality Predictor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='app.css') }}">
  </head>
  <div class="container">
    {% if error %}
      <div class="alert alert-warning">
        ERROR: {{ error }}
      </div>
    {% endif %}
    <h1>COVID Hospitalization and Mortality Probabilities</h1>
    <h5>Probabilities using predictive analytics, and a logistic regression model.</h5>
    <hr>
    <form id="prediction" method="post" action="">
      <div class="row">
        <div class="col-xs-5">
          <label for="sex-select">Choose a sex:</label>
        </div>
        <div class="col-xs-7">
          <select name="sex" id="sex-select">
            <option value="">--Please choose an option--</option>
            <option value="0" {{ 'selected' if request.form['sex'] == '0' else '' }}>Female</option>
            <option value="1" {{ 'selected' if request.form['sex'] == '1' else '' }}>Male</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <label for="age-select">Choose an age range:</label>
        </div>
        <div class="col-xs-7">
          <select name="age" id="age-select">
            <option value="">--Please choose an option--</option>
            <option value="0" {{ 'selected' if request.form['age'] == '0' else '' }}>0 - 9 Years</option>
            <option value="1" {{ 'selected' if request.form['age'] == '1' else '' }}>10 - 19 Years</option>
            <option value="2" {{ 'selected' if request.form['age'] == '2' else '' }}>20 - 29 Years</option>
            <option value="3" {{ 'selected' if request.form['age'] == '3' else '' }}>30 - 39 Years</option>
            <option value="4" {{ 'selected' if request.form['age'] == '4' else '' }}>40 - 49 Years</option>
            <option value="5" {{ 'selected' if request.form['age'] == '5' else '' }}>50 - 59 Years</option>
            <option value="6" {{ 'selected' if request.form['age'] == '6' else '' }}>60 - 69 Years</option>
            <option value="7" {{ 'selected' if request.form['age'] == '7' else '' }}>70 - 79 Years</option>
            <option value="8" {{ 'selected' if request.form['age'] == '8' else '' }}>80+ Years</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <label for="race-ethnicity-select">Choose race/ethnicity:</label>
        </div>
        <div class="col-xs-7">
          <select name="race-ethnicity" id="race-ethnicity-select">
            <option value="">--Please choose an option--</option>
            <option value="0" {{ 'selected' if request.form['race-ethnicity'] == '0' else '' }}>Hispanic/Latino</option>
            <option value="1" {{ 'selected' if request.form['race-ethnicity'] == '1' else '' }}>Black, Non-Hispanic</option>
            <option value="2" {{ 'selected' if request.form['race-ethnicity'] == '2' else '' }}>White, Non-Hispanic</option>
            <option value="3" {{ 'selected' if request.form['race-ethnicity'] == '3' else '' }}>American Indian/Alaska Native, Non-Hispanic</option>
            <option value="4" {{ 'selected' if request.form['race-ethnicity'] == '4' else '' }}>Asian, Non-Hispanic</option>
            <option value="5" {{ 'selected' if request.form['race-ethnicity'] == '5' else '' }}>Multiple/Other, Non-Hispanic</option>
            <option value="6" {{ 'selected' if request.form['race-ethnicity'] == '6' else '' }}>Native Hawaiian/Other Pacific Islander, Non-Hispanic</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <label for="underlying-conditions-select">Any underlying conditions?</label>
        </div>
        <div class="col-xs-7">
          <select name="underlying-conditions" id="underlying-conditions-select">
            <option value="">--Please choose an option--</option>
            <option value="0" {{ 'selected' if request.form['underlying-conditions'] == '0' else '' }}>No</option>
            <option value="1" {{ 'selected' if request.form['underlying-conditions'] == '1' else '' }}>Yes</option>
          </select>
        </div>
      </div>

      <button type="submit" form="prediction" value="Submit">Submit</button>
    </form>

    {% if prediction_data %}
      <hr>
      <div class="alert alert-info">
        <div>
          <strong>Probability of hospitalization:</strong> {{ prediction_data['hospitalization_probability'] }}
        </div>
        <div>
          <strong>Probability of death:</strong> {{ prediction_data['death_probability'] }}
        </div>
      </div>
    {% endif %}
    <div>
      <a href="https://data.cdc.gov/Case-Surveillance/COVID-19-Case-Surveillance-Public-Use-Data/vbim-akqf">CDC Source Data</a> | <a href="https://github.com/coderbydesign/covid-predictive-analytics">Contribute</a>
    </div>
  </div>
</html>
